@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.invwiki {
  --background-body: #fff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: #9e9e9e;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --scrollbar-thumb: rgb(170, 170, 170);
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  word-wrap: break-word;
  color: var(--text-main);
  text-rendering: optimizeLegibility;
}

.invwiki-main {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.invwiki-main > div > ul {
  margin-top: 1em !important;
  padding-left: 1.5em !important;
}

.invwiki-toolbar {
  padding-left: 1em;
}

#qrcode-scanner img[alt="Info icon"] {
  display: none;
}

.invwiki-autocomplete {
  position: relative;
}

.invwiki-autocomplete-results {
  padding: 0;
  margin: 0;
  background-color: var(--background-body);
  position: absolute;
  top: 60px;
  border: 1px solid #eeeeee;
  max-height: 200px;
  width: 100%;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
}

.invwiki-autocomplete-result {
  list-style: none;
  text-align: left;
  padding-inline: 4px;
  padding-block: .5em;
  cursor: pointer;
  margin-left: .5em;

  display: grid;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.invwiki-autocomplete-result:hover {
  background-color: var(--button-hover);
  color: white;
}

.invwiki-autocomplete-result.is-active {
  background-color: #4AAE9B;
  color: white;
}

.invwiki-autocomplete-indent {
  margin-left: 0;
  padding-left: 1em;
}

.invwiki-autocomplete-result > b {
  font-family: monospace;
  overflow: hidden;
  display: block;
}
.invwiki-autocomplete-group {
  margin-left: 0;
  padding-block: 0;
  background-color: #ccc;
  cursor: default;
}
.invwiki-autocomplete-group > b {
  padding-left: .5em;
}

.invwiki-autocomplete-result > div {
  flex-grow: 1;
}

.invwiki-autocomplete-result > pre {
  clear: both;
  font-size: 80%;
  margin: 0;
  width: auto;
  margin-top: .5em;
  margin-bottom: 0 !important;
}

.invwiki input, .invwiki textarea {
  display: block;
  width: calc(100% - 1.5em);
}

.invwiki label {
  font-weight: bold;
}

.invwiki button, .invwiki input, .invwiki textarea {
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}

.invwiki button,
.invwiki input[type='submit'],
.invwiki input[type='button'],
.invwiki input[type='checkbox'] {
  cursor: pointer;
}

.invwiki input[type='checkbox'] {
  width: auto;
  display: inline;
  margin: 0;
  margin-right: .5em;
}

.invwiki input:not([type='checkbox']):not([type='radio']),
.invwiki select {
  display: block;
}

.invwiki select {
  width: calc(100% - 1.5em);
}

.invwiki input, .invwiki select, .invwiki button, .invwiki textarea {
  color: #000000;
  background-color: #efefef;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 6px;
  outline: none;
}

.invwiki input:not([type='checkbox']):not([type='radio']),
.invwiki button, .invwiki textarea {
  -webkit-appearance: none;
}

.invwiki textarea {
  resize: vertical;
}

.invwiki button, .invwiki input[type='submit'], .invwiki input[type='button'] {
  padding-right: 16px;
  padding-left: 16px;
}

.invwiki button:hover,
.invwiki input[type='submit']:hover,
.invwiki input[type='button']:hover {
  background: #dddddd;
}

.invwiki input:focus,
.invwiki select:focus,
.invwiki button:focus,
.invwiki textarea:focus {
  box-shadow: 0 0 0 2px #0096bfab;
}

.invwiki input[type='checkbox']:active,
.invwiki input[type='radio']:active,
.invwiki input[type='submit']:active,
.invwiki input[type='button']:active,
.invwiki button:active {
  transform: translateY(2px);
}

.invwiki input:disabled,
.invwiki select:disabled,
.invwiki button:disabled,
.invwiki textarea:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.invwiki label[for='invwiki-form-lended'],
.invwiki label[for='invwiki-form-small'],
.invwiki label[for='invwiki-form-container'] {
  display: block;
  padding-bottom: 1em;
}

.invwiki ::-webkit-input-placeholder {
  color: #949494;
}

.invwiki :-ms-input-placeholder {
  color: #949494;
}

.invwiki ::-ms-input-placeholder {
  color: #949494;
}

.invwiki ::placeholder {
  color: #949494;
}

.invwiki a {
  text-decoration: none;
  color: #0076d1;
}

.invwiki a:hover {
  text-decoration: underline;
}

.invwiki blockquote {
  border-left: 4px solid #0096bfab;
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

.invwiki .overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000009c;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.invwiki .dialog blockquote {
  margin-top: 0;
  width: calc(100% - 4em);
}

.invwiki .dialog {
  background-color: var(--background-alt);
  color: var(--text-main);
  border: none;
  border-radius: 6px;
  border-color: var(--border);
  padding: 0;
}

.invwiki .dialog > header:first-child {
  position: relative;
  background-color: var(--background);
  border-radius: 6px 6px 0 0;
  font-weight: 600;
  padding: 10px;
  margin: 0;
}

.invwiki .dialog > header:first-child button {
  position: absolute;
  top: .5em;
  right: .25em;
  padding: .2em;
}


.invwiki .flex-row {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.invwiki .flex-row button {
  flex-grow: 1;
}

.invwiki .loader {
    position: absolute;
    margin: auto;
    height: 60px;
    inset: 0;
    width: 100px;
    z-index: 999999;
}

.invwiki .loader-line-wrap {
    animation: invwiki-spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.invwiki .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.invwiki .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.invwiki .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.invwiki .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.invwiki .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.invwiki .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
.invwiki .loader-line-wrap:nth-child(6) { animation-delay: -300ms; }

.invwiki .loader-line-wrap:nth-child(1) .loader-line {
    border-color: #E40303;
    height: 90px;
    width: 90px;
    top: 7px;
}
.invwiki .loader-line-wrap:nth-child(2) .loader-line {
    border-color: #FF8C00;
    height: 76px;
    width: 76px;
    top: 14px;
}
.invwiki .loader-line-wrap:nth-child(3) .loader-line {
    border-color: #FFED00;
    height: 62px;
    width: 62px;
    top: 21px;
}
.invwiki .loader-line-wrap:nth-child(4) .loader-line {
    border-color: #008026;
    height: 48px;
    width: 48px;
    top: 28px;
}
.invwiki .loader-line-wrap:nth-child(5) .loader-line {
    border-color: #24408E;
    height: 34px;
    width: 34px;
    top: 35px;
}
.invwiki .loader-line-wrap:nth-child(6) .loader-line {
    border-color: #732982;
    height: 20px;
    width: 20px;
    top: 42px;
}

@keyframes invwiki-spin {
  0%, 15% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

.location-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-block: .5em;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.item-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-block: .5em;
}
.item-card ul {
  list-style: none;
  margin-left: 0;
  padding-top: .25em;
  padding-left: 1.25em !important;
}
.item-card > button {
  margin-left: 1em;
  width: calc(100% - 2em);
  text-align: left;
}
.invwiki.item-card > blockquote {
  margin-left: 1em;
  width: calc(100% - 4em);
}
.item-card ul > li > svg:nth-child(1) {
  margin-left: -1.75em; 
}
.processed {
  display: none;
}

.invwiki-dialog-body {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(95vh - 55px);
  max-width: 90vw;
  padding: 1em 1.5em;
}

@media only screen and (max-width: 768px) {
  .item-card {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    width: 100%;
  }
  .hide-mobile {
    display: none;
  }
  .invwiki-preview {
    transform: scale(.8);
  }

  .invwiki .dialog {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    background-color: white;
  }

  .invwiki-dialog-body {
    max-height: auto;
    height: 100%;
  }
}

.invwiki-preview {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 9pt;
  padding-inline: 1em;
  border: 1px solid var(--form-placeholder);
  margin-inline: auto;
  margin-bottom: 1em;
}

.invwiki-preview > div {
  flex-grow: 1;
}

ul.invwiki {
  list-style-type: none;
}

ul.invwiki li a>span, ul.invwiki li label {
  font-family: monospace;
  margin-right: .5em;
}

.invwiki .dialog label,
.invwiki .dialog .invwiki-autocomplete {
  display: block;
  margin-top: 2em;
}

.invwiki .dialog label:first-child,
.invwiki .dialog .invwiki-autocomplete:first-child {
  margin-top: 0;
}

.invwiki video {
  width: min(90vw, 400px);
}

#dokuwiki__footer .print {
  display: none;
}
#print-qr {
  display: none;
}
@media print {
  .invwiki.invwiki-toolbar {
    display: none;
  }

  #dokuwiki__footer {
    position: absolute;
    bottom: 7em;
    left: 0;
    right: 0;
    display: grid;
    padding-top: 1em;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: -5em;
  }

  #print-qr {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    padding: 0em 0em 1em 1em;
    background-color: white;
  }

  #dokuwiki__footer .print {
    display: block;
  }

  #dokuwiki__footer .print a {
    font-family: monospace;
  }
  #dokuwiki__footer .print img {
    height: 80px;
  }

  #dokuwiki__footer > .doc {
    display: block;
    grid-area: 1 / 1 / 2 / 2;
  }
  #dokuwiki__footer > .license {
    font-size: small;
    grid-area: 2 / 1 / 3 / 2;
  }
  #dokuwiki__footer > .print {
    grid-area: 1 / 2 / 3 / 3;
    text-align: right;
  }

  #dokuwiki__footer > .license a {
    display: block;
  }

  #dokuwiki__site {
    font-size: 90%;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }

  #dokuwiki__header h1 a {
    background-size: 32px;
    height: 30px;
    padding-top: 5px;
    padding-left: 38px;
  }

  #dw__toc {
    display: none;
  }

  .dokuwiki div.tags span,
  .dokuwiki div.tagstop span {
    background: transparent url(data:image/gif;base64,R0lGODlhEAAMAKIGAGFhYejo6P///8PDw9ra2p6env///wAAACH5BAEAAAYALAAAAAAQAAwAAAM0aBbQECpKA4YQ400JBClEBm2UUBgFpm3VR1zixljeG09zba9STvwqkm9HWlRgPFnlVjQmEwA7) 0 2px no-repeat;
    padding: 1px 0 1px 17px;
  }

  .dokuwiki div.tags {
    display: block;
    padding-top: .5em;
    clear: both;
    font-size: 95%;
    text-align: right;
  }
}

ul.contained-items li {
  list-style-type: none;
}
button.invwiki-container, button.invwiki-container:hover, button.invwiki-expand-all, button.invwiki-expand-all:hover {
  padding: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20stroke-width%3D%22.3%22%3E%3Cpath%20fill%3D%22%23f8c854%22%20d%3D%22M14.3%2029.9A69.9%2069.9%200%200%201%209%2026.8a38%2038%200%200%201-5.8-4c-.2-.3-.2-.7-.2-3.8L3%2015c0-.5%200-.5-1.5-1.5L0%2012.4c0-.1.4-.7%202.1-2.8%201-1.1%201.1-1.3%202-1.8a30.3%2030.3%200%200%201%202.3-1.3%20522.4%20522.4%200%200%201%209.4-5.1l3%201.4a358.5%20358.5%200%200%200%206.9%203.9c3.1%201.7%202.9%201.6%204.7%203.9a81.6%2081.6%200%200%200%201.6%202.2l-.8.6-1.6%201-.9.6v3.9c0%203.6%200%203.8-.2%204.2-.3.5-1.7%201.5-3.7%202.6a59.2%2059.2%200%200%200-6%203.4%2076.1%2076.1%200%200%200-3%201.5l-1.5-.7z%22%2F%3E%3Cpath%20fill%3D%22%23e3a74a%22%20d%3D%22M13%2014.4a1818.3%201818.3%200%200%200-9.6-6c.2-.2%201.6-.7%201.9-.7l.6-.2L7%207.1l.9-.4h.2l.3-.2.8-.5a7%207%200%200%200%201.6-1.2c.4-.4%201.1-1%201.5-1.1%201.6-1%202.4-1.4%202.8-1.8l.7-.4%202.2%201a4308.9%204308.9%200%200%200%2010.3%206l-.4.3c-.9.2-3%201.5-5.4%203a75.4%2075.4%200%200%201-6.9%204l-2.6-1.4z%22%2F%3E%3Cpath%20fill%3D%22%23e3a74a%22%20d%3D%22m15.2%2030-1.2-.8a19.5%2019.5%200%200%201-1.9-1%2033%2033%200%200%201-3.1-2c-.2-.3-.8-.7-1.3-1l-1.2-.7-1.8-1.3c-.5-.3-.9-.7-1-1-.3-.5-.3-.6-.4-4v-3.5a173.7%20173.7%200%200%201%208.7%205.7c.1%200%20.6-.5%201.1-1.2%201.2-1.7%202.5-3.1%202.6-3%20.2%200%202.2%202.1%202.5%202.6l1.4%201.7%204.2-2.5c3.8-2.4%204.5-2.9%204.6-2.8l.2%205c0%203.1.1%203-2.5%204.6a26.3%2026.3%200%200%200-1.5.8l-.6.4-.6.4c-.2%200-1.7.8-2.3%201.3a14.6%2014.6%200%200%201-3.2%201.7%201087.2%201087.2%200%200%201-2%201.1l-.7-.5z%22%2F%3E%3Cg%20fill%3D%22%23d69530%22%3E%3Cpath%20d%3D%22M13.2%2014.3a2026.7%202026.7%200%200%200-9-5.6c0-.1%201.2-.4%201.7-.4L7.4%208l1.5-.4a4%204%200%200%200%201-.6l.9-.4.5-.3.7-.4c.3%200%20.4-.2.6-.8l.2-1c0-.1%201.2-1%201.4-1%20.4%200%201.2-.8%201.4-1.1%200-.2.2-.4.3-.4l12.2%206.7c0%20.2%200%20.2-.2.2-.4.2-2.3%201.2-4.1%202.4a87.1%2087.1%200%200%201-8%204.8%2014%2014%200%200%201-2.6-1.4zM17%2019.5c-.2-.1-.1-1.7%200-1.8l.6.6.5.6-.4.3c-.3.4-.6.4-.7.3zM11.9%2023.5A21.8%2021.8%200%200%201%207%2018.7l-.4-.4c-.1%200-.4-.2-.5-.5l-.4-.4-.4-.4c-.1-.2-.3-.4-.7-.5l-.6-.3-.3-.2c-.2%200-.2-.1-.3-.4V15l1.4.9c2.7%201.8%207%204.6%207.2%204.6.2%200%20.7-.5%201.4-1.5.6-.8%201.3-1.5%201.3-1.3l-.2%201a239.7%20239.7%200%200%200-1.3%204c-.4%201.2-.6%201.3-1.3.7zM15.9%2026.8c0-3.3%200-3.6.3-4.2l.4-.6c.1%200%20.4-.2.6-.5l.8-.8.6-.5c.2-.2.3-.2.5.2.4.4.7.5%201.2%200a252.6%20252.6%200%200%201%206.7-4.1c.6-.4%201-.5%201-.3l.1%201.4c.2.8.2%202.1.3%203.4%200%202%200%202-.3%202.4-.4.4-1.5%201.1-3.4%202.1a145.6%20145.6%200%200%200-8.3%204.8c-.6.4-.6.4-.5-3.3z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23b9772b%22%20d%3D%22M15.3%2015.3c-.2-.2-.2-.2%200-.4.2%200%20.4-.2.5-.4V9c0-5.4.1-6.4.4-6.7.2-.2.3-.2%201%20.3l1%20.4.5.4.6.4A29.3%2029.3%200%200%201%2024.7%207c0%20.2.1.3.3.4.7.4.7%201%20.1%201.7l-.5.7c0%20.1%200%20.1%200%200l-.3.2-.7.7-1.8%201.2a44.4%2044.4%200%200%201-6%203.6.7.7%200%200%201-.5-.2z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  position: relative;
}
button.invwiki-expand-all, button.invwiki-expand-all:hover {
  float: right;
}
button.invwiki-expand-all::after {
  content: "🔍️";
  position: absolute;
  bottom: .25em;
  right: .25em;
  font-size: .75em;
}
button.invwiki-container {
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20stroke-width%3D%22.3%22%3E%3Cpath%20fill%3D%22%23f8c854%22%20d%3D%22M14.5%2030a65.5%2065.5%200%200%201-5.2-3.2%2050.4%2050.4%200%200%201-5.9-4c-.2-.3-.2-.4-.2-7.4v-7l1.2-.7a321.2%20321.2%200%200%200%209.7-5.4c1-.6%201.7-1%201.8-.9a83.2%2083.2%200%200%201%208%204.3l4.7%202.7a175.8%20175.8%200%200%201%200%2014.6c-.2.6-1.2%201.3-3.3%202.4a23.5%2023.5%200%200%200-3%201.8l-.7.3-1%20.6a115.6%20115.6%200%200%200-4.2%202.4c-.5.2-.6.2-1.9-.6z%22%2F%3E%3Cpath%20fill%3D%22%23e3a74a%22%20d%3D%22m15.5%2030.1-1-.7-2.2-1.2-1.8-1.1L9%2026l-1-.6-.3-.2-1-.8c-2-1.3-3-2.2-3.1-2.9a270%20270%200%200%201%200-12.9l2.8%201.5c1.2.7%201.4.8%201.6.7l5.7-3.2C19.4%204.3%2020%204%2020.4%204l2.2%201.2v.3l-3.5%202a17971.2%2017971.2%200%200%200-8.4%205s.8.7%201.9%201.3l2.5%201.5c.6.4%201%20.6%201.2.3l2.4-1.3c3.9-2%208.3-4.6%209.5-5.4.2-.2.3-.2.3%201a154.2%20154.2%200%200%201%20.2%2010.4c.1%202.9%200%203-2.2%204.3a49.5%2049.5%200%200%201-3.8%202.2l-.4.3-.9.4-.8.5-.5.3-.7.4-2.8%201.5c-.6.4-.7.4-1.1%200z%22%2F%3E%3Cg%20fill%3D%22%23d69530%22%3E%3Cpath%20d%3D%22m8.9%2014.2-1.2-.7v-1l-.1-1.2c0-.1%200-.2.3-.3a198%20198%200%200%200%2012.2-6.8c.2-.1.4%200%201%20.2.5.3%201%20.5%201%20.7.3.2.4.2.2.3a1156.1%201156.1%200%200%201-10.2%206c-1.8%201-1.7.9-1.7%202.2%200%201.5%200%201.5-1.5.6zM17%2019.3v-1.5l.1-1.4%201.2-.7c.6-.4%201.2-.6%201.3-.6.2%200%20.2.4.2%201.5v1.5l-1.2.7c-1.2.7-1.5.8-1.6.5zM16%2026.7c0-3.4%200-3.5.3-4.1l.4-1c.1-.3.2-.4.4-.4.1%200%20.3%200%20.5-.2l.4-.3c.2%200%20.4-.3.5-.5.1-.2.3-.3.5-.3l.6-.3.5-.2.3-.1c0-.2.8-1%201-1%200%200%20.3%200%20.4-.2.2-.2.4-.3.8-.3.3%200%20.5-.2.6-.3.3-.6.4-.7%201.1-.7.6%200%20.7%200%20.8-.4.2-.3.8-.9%201-.9l.5-.3c.3-.3.7-.4%201-.2.3.2.5%201%20.5%201.7l.2%201.5c.3%201.3.3%204.3%200%204.8-.2.4-.8.8-2.6%201.8a706%20706%200%200%200-9.1%205.2c-.8.5-.8.6-.7-3.3z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23b9772b%22%20d%3D%22m8.9%2014-1.1-.7-.1-1.1c0-.7%200-1%20.2-1.1a787.9%20787.9%200%200%200%2010.8-6l1.7-1%201%20.5.9.6-5%203-6%203.5-1%20.6v1.2c0%201.4%200%201.4-1.4.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

button.invwiki-container.expanded {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20stroke-width%3D%22.3%22%3E%3Cpath%20fill%3D%22%23f8c854%22%20d%3D%22M14.3%2029.9A69.9%2069.9%200%200%201%209%2026.8a38%2038%200%200%201-5.8-4c-.2-.3-.2-.7-.2-3.8L3%2015c0-.5%200-.5-1.5-1.5L0%2012.4c0-.1.4-.7%202.1-2.8%201-1.1%201.1-1.3%202-1.8a30.3%2030.3%200%200%201%202.3-1.3%20522.4%20522.4%200%200%201%209.4-5.1l3%201.4a358.5%20358.5%200%200%200%206.9%203.9c3.1%201.7%202.9%201.6%204.7%203.9a81.6%2081.6%200%200%200%201.6%202.2l-.8.6-1.6%201-.9.6v3.9c0%203.6%200%203.8-.2%204.2-.3.5-1.7%201.5-3.7%202.6a59.2%2059.2%200%200%200-6%203.4%2076.1%2076.1%200%200%200-3%201.5l-1.5-.7z%22%2F%3E%3Cpath%20fill%3D%22%23e3a74a%22%20d%3D%22M13%2014.4a1818.3%201818.3%200%200%200-9.6-6c.2-.2%201.6-.7%201.9-.7l.6-.2L7%207.1l.9-.4h.2l.3-.2.8-.5a7%207%200%200%200%201.6-1.2c.4-.4%201.1-1%201.5-1.1%201.6-1%202.4-1.4%202.8-1.8l.7-.4%202.2%201a4308.9%204308.9%200%200%200%2010.3%206l-.4.3c-.9.2-3%201.5-5.4%203a75.4%2075.4%200%200%201-6.9%204l-2.6-1.4z%22%2F%3E%3Cpath%20fill%3D%22%23e3a74a%22%20d%3D%22m15.2%2030-1.2-.8a19.5%2019.5%200%200%201-1.9-1%2033%2033%200%200%201-3.1-2c-.2-.3-.8-.7-1.3-1l-1.2-.7-1.8-1.3c-.5-.3-.9-.7-1-1-.3-.5-.3-.6-.4-4v-3.5a173.7%20173.7%200%200%201%208.7%205.7c.1%200%20.6-.5%201.1-1.2%201.2-1.7%202.5-3.1%202.6-3%20.2%200%202.2%202.1%202.5%202.6l1.4%201.7%204.2-2.5c3.8-2.4%204.5-2.9%204.6-2.8l.2%205c0%203.1.1%203-2.5%204.6a26.3%2026.3%200%200%200-1.5.8l-.6.4-.6.4c-.2%200-1.7.8-2.3%201.3a14.6%2014.6%200%200%201-3.2%201.7%201087.2%201087.2%200%200%201-2%201.1l-.7-.5z%22%2F%3E%3Cg%20fill%3D%22%23d69530%22%3E%3Cpath%20d%3D%22M13.2%2014.3a2026.7%202026.7%200%200%200-9-5.6c0-.1%201.2-.4%201.7-.4L7.4%208l1.5-.4a4%204%200%200%200%201-.6l.9-.4.5-.3.7-.4c.3%200%20.4-.2.6-.8l.2-1c0-.1%201.2-1%201.4-1%20.4%200%201.2-.8%201.4-1.1%200-.2.2-.4.3-.4l12.2%206.7c0%20.2%200%20.2-.2.2-.4.2-2.3%201.2-4.1%202.4a87.1%2087.1%200%200%201-8%204.8%2014%2014%200%200%201-2.6-1.4zM17%2019.5c-.2-.1-.1-1.7%200-1.8l.6.6.5.6-.4.3c-.3.4-.6.4-.7.3zM11.9%2023.5A21.8%2021.8%200%200%201%207%2018.7l-.4-.4c-.1%200-.4-.2-.5-.5l-.4-.4-.4-.4c-.1-.2-.3-.4-.7-.5l-.6-.3-.3-.2c-.2%200-.2-.1-.3-.4V15l1.4.9c2.7%201.8%207%204.6%207.2%204.6.2%200%20.7-.5%201.4-1.5.6-.8%201.3-1.5%201.3-1.3l-.2%201a239.7%20239.7%200%200%200-1.3%204c-.4%201.2-.6%201.3-1.3.7zM15.9%2026.8c0-3.3%200-3.6.3-4.2l.4-.6c.1%200%20.4-.2.6-.5l.8-.8.6-.5c.2-.2.3-.2.5.2.4.4.7.5%201.2%200a252.6%20252.6%200%200%201%206.7-4.1c.6-.4%201-.5%201-.3l.1%201.4c.2.8.2%202.1.3%203.4%200%202%200%202-.3%202.4-.4.4-1.5%201.1-3.4%202.1a145.6%20145.6%200%200%200-8.3%204.8c-.6.4-.6.4-.5-3.3z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23b9772b%22%20d%3D%22M15.3%2015.3c-.2-.2-.2-.2%200-.4.2%200%20.4-.2.5-.4V9c0-5.4.1-6.4.4-6.7.2-.2.3-.2%201%20.3l1%20.4.5.4.6.4A29.3%2029.3%200%200%201%2024.7%207c0%20.2.1.3.3.4.7.4.7%201%20.1%201.7l-.5.7c0%20.1%200%20.1%200%200l-.3.2-.7.7-1.8%201.2a44.4%2044.4%200%200%201-6%203.6.7.7%200%200%201-.5-.2z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.invwiki button.loading {
  opacity: 80%;
  position: relative;
  filter: grayscale(50%) blur(0px) brightness(1.2);
}

.invwiki button.loading::after {
  position: absolute;
  left: calc(50% - 6px);
  top: calc(50% - 6px);
  content: "";
  width: 12px;
  height: 12px;
  border: 4px solid transparent;
  border-bottom-color: purple;
  opacity: .8;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  filter: none;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
