@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.invwiki {
  --background-body: #fff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: #9e9e9e;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --scrollbar-thumb: rgb(170, 170, 170);
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  word-wrap: break-word;
  color: var(--text-main);
  text-rendering: optimizeLegibility;
}

.invwiki-main {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.invwiki-main > div > ul {
  margin-top: 1em !important;
  padding-left: 1.5em !important;
}

.invwiki-toolbar {
  padding-left: 1em;
}

#qrcode-scanner img[alt="Info icon"] {
  display: none;
}

.invwiki-autocomplete {
  position: relative;
}

.invwiki-autocomplete-results {
  padding: 0;
  margin: 0;
  background-color: var(--background-body);
  position: absolute;
  top: 60px;
  border: 1px solid #eeeeee;
  max-height: 200px;
  width: 100%;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
}

.invwiki-autocomplete-result {
  list-style: none;
  text-align: left;
  padding-inline: 4px;
  padding-block: .5em;
  cursor: pointer;
  margin-left: .5em;

  display: grid;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.invwiki-autocomplete-result:hover {
  background-color: var(--button-hover);
  color: white;
}

.invwiki-autocomplete-result.is-active {
  background-color: #4AAE9B;
  color: white;
}

.invwiki-autocomplete-indent {
  margin-left: 0;
  padding-left: 1em;
}

.invwiki-autocomplete-result > b {
  font-family: monospace;
  overflow: hidden;
  display: block;
}
.invwiki-autocomplete-group {
  margin-left: 0;
  padding-block: 0;
  background-color: #ccc;
  cursor: default;
}
.invwiki-autocomplete-group > b {
  padding-left: .5em;
}

.invwiki-autocomplete-result > div {
  flex-grow: 1;
}

.invwiki-autocomplete-result > pre {
  clear: both;
  font-size: 80%;
  margin: 0;
  width: auto;
  margin-top: .5em;
  margin-bottom: 0 !important;
}

.invwiki input, .invwiki textarea {
  display: block;
  width: calc(100% - 1.5em);
}

.invwiki label {
  font-weight: bold;
}

.invwiki button, .invwiki input, .invwiki textarea {
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}

.invwiki button,
.invwiki input[type='submit'],
.invwiki input[type='button'],
.invwiki input[type='checkbox'] {
  cursor: pointer;
}

.invwiki input[type='checkbox'] {
  width: auto;
  display: inline;
  margin: 0;
  margin-right: .5em;
}

.invwiki input:not([type='checkbox']):not([type='radio']),
.invwiki select {
  display: block;
}

.invwiki select {
  width: calc(100% - 1.5em);
}

.invwiki input, .invwiki select, .invwiki button, .invwiki textarea {
  color: #000000;
  background-color: #efefef;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 6px;
  outline: none;
}

.invwiki input:not([type='checkbox']):not([type='radio']),
.invwiki button, .invwiki textarea {
  -webkit-appearance: none;
}

.invwiki textarea {
  resize: vertical;
}

.invwiki button, .invwiki input[type='submit'], .invwiki input[type='button'] {
  padding-right: 16px;
  padding-left: 16px;
}

.invwiki button:hover,
.invwiki input[type='submit']:hover,
.invwiki input[type='button']:hover {
  background: #dddddd;
}

.invwiki input:focus,
.invwiki select:focus,
.invwiki button:focus,
.invwiki textarea:focus {
  box-shadow: 0 0 0 2px #0096bfab;
}

.invwiki input[type='checkbox']:active,
.invwiki input[type='radio']:active,
.invwiki input[type='submit']:active,
.invwiki input[type='button']:active,
.invwiki button:active {
  transform: translateY(2px);
}

.invwiki input:disabled,
.invwiki select:disabled,
.invwiki button:disabled,
.invwiki textarea:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.invwiki label[for='invwiki-form-lended'],
.invwiki label[for='invwiki-form-small'],
.invwiki label[for='invwiki-form-container'] {
  display: block;
  padding-bottom: 1em;
}

.invwiki ::-webkit-input-placeholder {
  color: #949494;
}

.invwiki :-ms-input-placeholder {
  color: #949494;
}

.invwiki ::-ms-input-placeholder {
  color: #949494;
}

.invwiki ::placeholder {
  color: #949494;
}

.invwiki a {
  text-decoration: none;
  color: #0076d1;
}

.invwiki a:hover {
  text-decoration: underline;
}

.invwiki blockquote {
  border-left: 4px solid #0096bfab;
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

.invwiki .overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000009c;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.invwiki .dialog blockquote {
  margin-top: 0;
  width: calc(100% - 4em);
}

.invwiki .dialog {
  background-color: var(--background-alt);
  color: var(--text-main);
  border: none;
  border-radius: 6px;
  border-color: var(--border);
  padding: 0;
}

.invwiki .dialog > header:first-child {
  position: relative;
  background-color: var(--background);
  border-radius: 6px 6px 0 0;
  font-weight: 600;
  padding: 10px;
  margin: 0;
}

.invwiki .dialog > header:first-child button {
  position: absolute;
  top: .5em;
  right: .25em;
  padding: .2em;
}


.invwiki .flex-row {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.invwiki .flex-row button {
  flex-grow: 1;
}

.invwiki .loader {
    position: absolute;
    margin: auto;
    height: 60px;
    inset: 0;
    width: 100px;
}

.invwiki .loader-line-wrap {
    animation: invwiki-spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.invwiki .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.invwiki .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.invwiki .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.invwiki .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.invwiki .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.invwiki .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
.invwiki .loader-line-wrap:nth-child(6) { animation-delay: -300ms; }

.invwiki .loader-line-wrap:nth-child(1) .loader-line {
    border-color: #E40303;
    height: 90px;
    width: 90px;
    top: 7px;
}
.invwiki .loader-line-wrap:nth-child(2) .loader-line {
    border-color: #FF8C00;
    height: 76px;
    width: 76px;
    top: 14px;
}
.invwiki .loader-line-wrap:nth-child(3) .loader-line {
    border-color: #FFED00;
    height: 62px;
    width: 62px;
    top: 21px;
}
.invwiki .loader-line-wrap:nth-child(4) .loader-line {
    border-color: #008026;
    height: 48px;
    width: 48px;
    top: 28px;
}
.invwiki .loader-line-wrap:nth-child(5) .loader-line {
    border-color: #24408E;
    height: 34px;
    width: 34px;
    top: 35px;
}
.invwiki .loader-line-wrap:nth-child(6) .loader-line {
    border-color: #732982;
    height: 20px;
    width: 20px;
    top: 42px;
}

@keyframes invwiki-spin {
  0%, 15% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

.location-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-block: .5em;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.item-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-block: .5em;
}
.item-card ul {
  list-style: none;
  margin-left: 0;
  padding-top: .25em;
  padding-left: 1.25em !important;
}
.item-card > button {
  margin-left: 1em;
  width: calc(100% - 2em);
  text-align: left;
}
.invwiki.item-card > blockquote {
  margin-left: 1em;
  width: calc(100% - 4em);
}
.item-card ul > li > svg:nth-child(1) {
  margin-left: -1.75em; 
}
.processed {
  display: none;
}

.invwiki-dialog-body {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(95vh - 55px);
  max-width: 90vw;
  padding: 1em 1.5em;
}

@media only screen and (max-width: 768px) {
  .item-card {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    width: 100%;
  }
  .hide-mobile {
    display: none;
  }
  .invwiki-preview {
    transform: scale(.8);
  }

  .invwiki .dialog {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    background-color: white;
  }

  .invwiki-dialog-body {
    max-height: auto;
    height: 100%;
  }
}

.invwiki-preview {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 9pt;
  padding-inline: 1em;
  border: 1px solid var(--form-placeholder);
  margin-inline: auto;
  margin-bottom: 1em;
}

.invwiki-preview > div {
  flex-grow: 1;
}

ul.invwiki {
  list-style-type: none;
}

ul.invwiki li a>span, ul.invwiki li label {
  font-family: monospace;
  margin-right: .5em;
}

.invwiki .dialog label,
.invwiki .dialog .invwiki-autocomplete {
  display: block;
  margin-top: 2em;
}

.invwiki .dialog label:first-child,
.invwiki .dialog .invwiki-autocomplete:first-child {
  margin-top: 0;
}

.invwiki video {
  width: min(90vw, 400px);
}

#dokuwiki__footer .print {
  display: none;
}
#print-qr {
  display: none;
}
@media print {
  .invwiki.invwiki-toolbar {
    display: none;
  }

  #dokuwiki__footer {
    position: absolute;
    bottom: 7em;
    left: 0;
    right: 0;
    display: grid;
    padding-top: 1em;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: -5em;
  }

  #print-qr {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    padding: 0em 0em 1em 1em;
    background-color: white;
  }

  #dokuwiki__footer .print {
    display: block;
  }

  #dokuwiki__footer .print a {
    font-family: monospace;
  }
  #dokuwiki__footer .print img {
    height: 80px;
  }

  #dokuwiki__footer > .doc {
    display: block;
    grid-area: 1 / 1 / 2 / 2;
  }
  #dokuwiki__footer > .license {
    font-size: small;
    grid-area: 2 / 1 / 3 / 2;
  }
  #dokuwiki__footer > .print {
    grid-area: 1 / 2 / 3 / 3;
    text-align: right;
  }

  #dokuwiki__footer > .license a {
    display: block;
  }

  #dokuwiki__site {
    font-size: 90%;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }

  #dokuwiki__header h1 a {
    background-size: 32px;
    height: 30px;
    padding-top: 5px;
    padding-left: 38px;
  }

  #dw__toc {
    display: none;
  }

  .dokuwiki div.tags span,
  .dokuwiki div.tagstop span {
    background: transparent url(data:image/gif;base64,R0lGODlhEAAMAKIGAGFhYejo6P///8PDw9ra2p6env///wAAACH5BAEAAAYALAAAAAAQAAwAAAM0aBbQECpKA4YQ400JBClEBm2UUBgFpm3VR1zixljeG09zba9STvwqkm9HWlRgPFnlVjQmEwA7) 0 2px no-repeat;
    padding: 1px 0 1px 17px;
  }

  .dokuwiki div.tags {
    display: block;
    padding-top: .5em;
    clear: both;
    font-size: 95%;
    text-align: right;
  }
}

